In [68]:
#PRINTING HELLOWORLD
print('HELLO WORLD')

HELLO WORLD

## String's and string properties

In [69]:
#double quotes
s="hello i'm praneeth metuku"
print(s)

hello i'm praneeth metuku

In [70]:
#lenght of the string
len(s)

25

### Indexing strings

In [71]:
s[0]

'h'

In [72]:
#everything
s[:]

"hello i'm praneeth metuku"

In [73]:
#get hello 
s[:5]

'hello'

In [74]:
#everything but lastone
s[:-1]

"hello i'm praneeth metuk"

In [75]:
#last one 
s[-1]

'u'

In [76]:
#get praneeth
s[10:19]

'praneeth '

In [77]:
#print everything in the backward
s[::-1]

"ukutem hteenarp m'i olleh"

In [78]:
#print every third letter(step-3)
s[::3]

'hli ae tu'

In [79]:
#string scalar multiplication
s*3

"hello i'm praneeth metukuhello i'm praneeth metukuhello i'm praneeth metuku"

### string formating (*)

%s to format strigns
%nf to format floating value

In [80]:
#print hello i'm praneeth metuku method-1
ts='praneeth metuku'
print("hello i'm %s"%ts)

hello i'm praneeth metuku

In [81]:
#print hello i'm praneeth metuku method-2
print("hi i'm {a}".format(a='praneeth metuku'))

hi i'm praneeth metuku

In [82]:
#string.format method
print("i'm {a} because others were {a} and i felt really{a}".format(a='SAD'))

i'm SAD because others were SAD and i felt reallySAD

### String basic functions

In [83]:
s

"hello i'm praneeth metuku"

In [84]:
#string.upper() to convert uppercase
s.upper()

"HELLO I'M PRANEETH METUKU"

In [85]:
#string.lower() to convert lowercase
s.lower()

"hello i'm praneeth metuku"

In [86]:
#string.split() spliting sentence to words into a list
s.split()

['hello', "i'm", 'praneeth', 'metuku']

In [87]:
s.split("i'm")

['hello ', ' praneeth metuku']

# variables and numbers

variables in python can be any datatype

In [88]:
a=7
a

7

In [89]:
a='praneeth metuku'
a

'praneeth metuku'

In [90]:
a=13.64
a

13.64

In [91]:
#same value to all variables
a=b=c=7
print(a,b,c)

7 7 7

In [94]:
#The variable does not need to be typecasted and python 
#automatically assigns the data type to the variable based on the value it is assigned
x=2
y=3.45
z='praneeth metuku'
x=y=z='i love data science'
print(x,y,z)

i love data science i love data science i love data science

# Lists

list can hold any datatype such as int,char,float

In [95]:
list=[1,2,3]
list

[1, 2, 3]

In [96]:
mixed_list=['praneeth',7,'i love data science']
mixed_list

['praneeth', 7, 'i love data science']

### indexing in lists(*)

similar to string indexing mentioned above

In [97]:
list=[1,2,3,4,5]

In [100]:
#to get 3
list[2] #or
list[-3]

3

In [101]:
#to get 3,4,5
list[2:]

[3, 4, 5]

In [102]:
#to get 1,2,3
list[:3]

[1, 2, 3]

### list properties and basic methods

In [103]:
#adding two lists i.e concating
list1=[1,2,3]
list2=['one','two','three']
new_list=list1+list2
new_list

[1, 2, 3, 'one', 'two', 'three']

In [113]:
#adding elements to list
list1=list1+['numbers']
list1

[1, 2, 3, 'numbers']

In [114]:
#lenght of the list
len(list1)

4

In [115]:
#scalar multiplication
list1*2

[1, 2, 3, 'numbers', 1, 2, 3, 'numbers']

LIST METHODS:
 append() method to permanently add an item to the end of a list: "/n"

 pop() to "pop off" an item from the list. By default pop takes off the last index

 reverse() to reverse and print all elements in the list

sort(){for numbers ascending and alphabeticals in alphaetical order}

In [119]:
#append
list=['a','b','c']
list.append('d')
list

['a', 'b', 'c', 'd']

In [120]:
#pop
list=['a','b','c']
list.pop()
list

['a', 'b']

In [122]:
#reverse
list=['a','b','c']
list.reverse()
list

['c', 'b', 'a']

In [123]:
#sort
list=['a','b','c']
list.sort()
list

['a', 'b', 'c']

LIST AS A QUEUE
The collections module contains a function called 'deque'. It converts any list variable into a 'double-ended queue'. Once the variable is converted into a double ended queue, elements can be added using the 'append' operation and deleted using the 'pop' operation in the FIFO (First-In-First-Out)
popleft' operation works by removing the first inserted element first (FIFO - First In, First Out)

In [125]:
#list as a queue
from collections import deque
list=['a','b','c']
list=deque(list)
list.popleft()

'a'

In [129]:
#max and #min of a list
max(list)

'c'

# Dictionaries in python

Key and Value pairs{key:value}(in java they are hash tables)

holds all type of data

In [133]:
dict={'key1':'value1','key2':'value2','key3':'value3'}
dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [137]:
dict1={1:'a','c':[1,2,3],'praneeth':34}
dict1

{1: 'a', 'c': [1, 2, 3], 'praneeth': 34}

In [139]:
#get value 34 from dict1
dict1['praneeth']

34

In [141]:
#adding new key and value to dict1
dict1['newkey']=[345]
dict1

{1: 'a', 'c': [1, 2, 3], 'newkey': [345], 'praneeth': 34}

### methods in dictionaries

keys() to return all keys in dictionaries

values() to return all values in dictionaries

items() to return all keys and values in tuples

In [144]:
 #keys()
dict1.keys()

dict_keys([1, 'c', 'praneeth', 'newkey'])

In [147]:
#values()
dict1.values()

dict_values(['a', [1, 2, 3], 34, [345]])

In [150]:
#items()
dict1.items()

dict_items([(1, 'a'), ('c', [1, 2, 3]), ('praneeth', 34), ('newkey', [345])])

### nested dictionaries

dictionaries inside an another dictionaries are called nested dictionaries

In [153]:
ndict={'key1':{'key2':{'key3':'value3'}}}
ndict

{'key1': {'key2': {'key3': 'value3'}}}

In [157]:
#to get value3
ndict['key1']['key2']['key3']

'value3'

# Tuples

Tuples are similar to lists but tuples are fixed and immutable(they cannot be changed)

Tuples also holds all the data types

In [158]:
t=(1,2,3)
t

(1, 2, 3)

In [160]:
t1=('b',[2,3],3)
t1

('b', [2, 3], 3)

### indexing in tuples

indexing in tuples is similar to list and string indexing

In [161]:
#to get 2
t=(1,2,3)
t[1]

2

### Methods in tuples

index() to find the index of the value
count() to count number of times a value appeared

In [163]:
#index()
t=(1,2,3)
t.index(2)

1

In [164]:
#count
t=(1,2,3,3,3,3)
t.count(3)

4

# Sets

sets are unordered collection of unique elements set()

In [166]:
x=set()
x

set()

In [170]:
x.add(7)
x

{7}

In [171]:
x.add(8)
x

{7, 8}

In [174]:
#again adding 7 in the set and doest not duplicate the set
x.add(7)
x

{7, 8}

### casting list to set

In order to remove the duplicates in the list we cast list to set

In [176]:
l=[2,3,3,2,3,2,3,2,3,23,2,3,2,323,2,3]
set(l)

{2, 3, 23, 323}